@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  --carousel-width: 760px;
}

body {
  margin: 0;
  background-color: #e5e5e5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100svh;
}

.carousel-container {
  max-width: var(--carousel-width);
  margin-inline: 1rem;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.carousel-item {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  transform: 300ms ease-in-out;
  border-radius: 1rem;
  overflow: hidden;
}

.carousel-img-holder {
  display: flex;
  justify-content: start;
  align-items: center;
}

.carousel-img {
  width: 100%;
  object-fit: cover;
  flex-grow: 0;
  flex-shrink: 0;
}

.carousel-navigate-button {
  all: unset;
  opacity: 0;
  position: absolute;
  top: 0;
  display: flex;
  margin: 0;
  border: 0;
  color: white;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in-out;
  z-index: 1;
  cursor: none;
}

.carousel-navigate-button > span {
  display: none;
}

.carousel:hover .carousel-navigate-button {
  opacity: 1;
}

.carousel-navigate-button.carousel-navigate-prev {
  left: 0;
  width: 30%;
}

.carousel-navigate-button.carousel-navigate-next {
  right: 0;
  width: 70%;
}

.carousel-item-info {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  /* padding: 1em; */
  background: linear-gradient(0deg, rgba(0 0 0 / 0.7) 50%, transparent);
  color: white;
  text-align: center;
  z-index: 2;
  transition: height 500ms ease-in-out;
}

.carousel-item-title {
  font-size: 2em;
  padding-top: 1rem;
}

.carousel-item-desc {
  font-weight: 200;
  padding-bottom: 1rem;
}

.carousel-item-cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(0 0 0 / 0.5);
  backdrop-filter: blur(1px);
  scale: 0;
  border-radius: 50%;
  transition: scale 300ms ease-out, rotate 300ms ease-in-out;
}

.carousel-radio-container {
  all: unset;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-radio-buttons {
  display: flex;
  width: var(--carousel-width);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  /* MEDIUM */
  .carousel-navigate-button {
    opacity: 1;
    padding-inline: 0.5rem;
    background-color: rgba(0 0 0 / 0.2);
    backdrop-filter: blur(3px);
    cursor: pointer;
  }

  .carousel-navigate-button:hover {
    background-color: rgba(0 0 0 / 0.6);
  }

  .carousel-navigate-button > span {
    display: inline;
  }

  .carousel-navigate-button.carousel-navigate-prev {
    width: auto;
  }

  .carousel-navigate-button.carousel-navigate-next {
    width: auto;
  }

  .carousel-item-info {
    display: none;
  }

  .carousel-item-cursor {
    display: none;
  }
}

@media (max-width: 425px) {
  /* SMALL */
  .carousel-container {
    margin-inline: 0.5rem;
  }
  .carousel-navigate-button {
    padding-inline: 0.2rem;
    font-size: 0.5em;
  }
}
